
* {
    margin: 0px;
    padding: 0px;
    /* text-align: center; */
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
  }


.wrapper{
    /* background-color: rgb(241, 215, 215); */
    position: relative;
}

.navigation{
display: flex;
gap: 47px;
padding-left: 50px;
padding-right: 50px;
text-align: center;
align-items: center;
/* padding-bottom: 50px; */
border-bottom: 1px solid black;
background-color:#c01f1f;
justify-content: space-between;
}

.infodiv{
    display: flex;
    gap: 50px;
}


.synop{
  overflow: hidden;
  height: 326px;
}

.logo{
    width: 150px;
    height: 150px;
    
    margin-right: 375px;
    cursor: pointer;
}
.logodiv{
    width: 150px;
}

.books{
    text-decoration: none;
    color: whitesmoke;
   
   font-size: 20px;
}

.dash{
    text-decoration: none;
    color: whitesmoke;
   
   font-size: 20px;
}

.dash:hover{
color: black;
}
.authors{
    text-decoration: none;
    color: whitesmoke;
   
   font-size: 20px;
}

.authors:hover{
    color: black;
}

.books:hover{
    color: black;
}

.login{
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
}
.logout{
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
}

.loginmaill{
  color: whitesmoke;
}

.logout:hover{
    color: black;
}

.login:hover{
    color: black;
}

.Sign-Up{
    color: rgb(150, 4, 4);
    font-size: 20px;
    cursor: pointer;
}

.Sign-Up:hover{
    color:black
}

.one-book{
    width: 1200px;
    height: 700px;
    /* border: 1px solid red; */
    
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.left{
    height: 700px;
    
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.second-line{
    /* display: flex;
    gap: 80px; */
}

.first-p{
    color: rgb(150, 4, 4);
   font-weight: 700;
   font-size: 70px;
}

.second-p{
    color: rgb(245, 151, 151);
   font-weight: 400;
   font-size: 18px;
}

.secondd-p{
    color: rgb(150, 4, 4);
    font-weight: 500;
    font-size: 22px;
}

.three-p{
    color: rgb(150, 4, 4);
   font-weight: 500;
   font-size: 40px;
}

.book-wrapper{
    padding-top: 30px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:30px;
}

.allbook{
    font-size: 35px;
    color: black;
    
    margin-left: 50px;
    margin-top: 20px;
}

.book-second{
    margin-top: 40px;
    
}

.bookinfo{
    width: 600px;
    height: 400px;
    border: 1px solid black;
    box-shadow: 5px 1px 10px -1px rgba(0,0,0,0.75);
    display: flex;
}

.left2{
    width: 300px;
    height: 400px;
}

.divname{
    margin-top: 20px;
    color: rgb(150, 4, 4);
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

.divauthor{
   text-align: center;
    font-weight: 700;
    color:rgba(5, 248, 167, 0.995)
}
.by{
    margin-right: 10px;
    font-weight: 700;
    color: black;
}

.spoiler{
    /* width: 250px;
    height: 200px; */
    margin-top: 30px;
    font-size: 14px;
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-right: 20px; */
    border-left: 2px solid rgb(149, 140, 140);
    height: 250px;
    overflow: hidden;
}

.author-wrapper{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.authornum{
    width: 800px;
    height: 250px;
    border: 1px solid black;
    display: flex;
    box-shadow: 5px 1px 10px -1px rgba(0,0,0,0.75);
}
.authleft{
    margin-top: 30px;
    padding-left: 15px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.authright{
   
    margin-left: 40px;
    overflow: hidden;
    height: 235px;
}

.rightname{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}

.rightinfo{
    font-weight: 400;
    font-size: 14px;
    padding: 0 10px;
}

.two-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.two-books{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 50px;
    gap: 50px;
}

#booksdisplay{
  border-bottom: 1px solid green;
}

.twobookdiv{
    display: flex;
    gap: 30px;
    width: 600px;
}

.two-left{
    width: 300px;
    height: 500px;
}
.first-pp{
    color: rgb(150, 4, 4);
    font-weight: 500;
    font-size: 50px;
}

.section2{
    margin-top: 100px;
    width: 100%;
    
    /* border: 1px solid red; */
    background-color: rgb(221, 241, 235);
}

.section2div{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divbook{
    margin-top: 100px;
}
.divbookimg{
    width: 300px;
    height: 400px;
}

.divbookh3{
    color: rgba(6, 102, 6, 0.868);
    font-size: 30px;
    font-weight: 700;
    width: 250px;
   
}

.divbooksp{
    margin-right: 10px;
    color: rgb(166, 115, 98);
    font-weight: 700;
    font-size: 20px;
}

.divbookp{
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divbookprice{
    color: rgba(6, 102, 6, 0.868);
    font-weight: 700;
    font-size: 25px;
}

.section3{
    margin-top: 50px;
}

.author{
    margin-left: 50px;
    font-weight: 700;
    font-size: 40px;
}

.section3div{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 80px;
}
.sec3div{
    margin-left: 50px;
    margin-right: 50px;

    
}

.sec3img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.sec3p{
    margin-top: 15px;
    font-weight: 700;
    font-size: 20px;
    width: 200px;
    text-align: center;
}
footer{
    
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: rgb(60, 179, 110);
}

.foth3{
    color: white;
    font-size: 30px;
}
.fotp{
    color: white;
    font-size: 20px;
}

.signupmodal{
    display: none;
    width: 500px;
    height: 250px;
    border: 1px solid red;
    background-color: wheat;
    position: sticky;
    top: 0;
    left: 37%;
    
    backdrop-filter: blur(5px);
}

.loginmodal{
    display: none;
    width: 500px;
    height: 250px;
    border: 1px solid red;
    background-color: rgba(231, 168, 229, 0.48);
    position: sticky;
    top: 0;
    left: 37%;
    
    backdrop-filter: blur(5px);
}


.form{
    margin-top: 50px;
    margin-left: 50px;
}

.form2{
    margin-top: 50px;
    margin-left: 50px;
}

.signupinput{
    height: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    outline: none;
}

.signupbtn{
    cursor: pointer;
    border: 1px solid black;
    width:189px;
    text-align: center;
    padding-top: 5px;
    height: 40px;
    font-size: 20px;
    
}

.loginbtn{
    cursor: pointer;
    border: 1px solid black;
    width:189px;
    text-align: center;
    padding-top: 5px;
    height: 40px;
    font-size: 20px;
}

.close-btn {
    width: fit-content;
    /* background-color: red; */
    position: absolute;
    top: -15px;
    right: 20px;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    /* border: 1px solid red; */
}

.close-btn2{
    width: fit-content;
    /* background-color: red; */
    position: absolute;
    top: -15px;
    right: 20px;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
}



.suc{
    display: none;
    margin-top: 20px;
    color: green;
    font-size: 25px;
    font-weight: 500;
}

.err{
    display: none;
    color: red;
    font-size: 25px;
    font-weight: 500;
}

.succ{
    display: none;
    margin-top: 20px;
    color: green;
    font-size: 25px;
    font-weight: 500;
}

.errr{
    display: none;
    color: red;
    font-size: 25px;
    font-weight: 500;
}

.dashelem{
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    color: mediumseagreen;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 100px;
}

.dashelemp:hover{
    cursor: pointer;
    border-bottom: 1px solid mediumaquamarine;
}

.books-table{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    
    width: 500px;
    
}

.td{
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 700;
}

td{
    padding-right: 30px;
    padding-left: 10px;

}

.lasttd{
    text-align: center;
    font-size: 30px;
    color: yellowgreen;
    /* padding-left: 127px; */
    /* padding-right: 70px; */
    cursor: pointer;
}

.lasttdd{
    font-size: 30px;
    color: yellowgreen;
    /* padding-left: 25px;
    padding-right: 70px; */
    text-align: center;
    cursor: pointer;
}

.icons{
    width: 30px;
    margin-left: 55px;
    cursor: pointer;
}

/* .lasttdd{
    padding-right: 20px;
} */

.dashwrapper{
    position: relative;
}
.publishdiv{
    display: none;
}

.publish{
    width: 700px;
    height: 800px;
    border: 1px solid red;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    
}

.footerdash{
    margin-top: 200px;
}

.close-btnn {
    width: fit-content;
    /* background-color: red; */
    position: absolute;
    top: -15px;
    right: 20px;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    /* border: 1px solid red; */
}

.publishform{
    margin-top: 100px;
    margin-left: 150px;
}

.formpublish{
    height: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    outline: none;
}

.genres{
    padding-left: 20px;
    padding-top: 10px;
    width: 400px;
    height: 180px;
    border: 1px solid red;
    color: red;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formpubli{
    height: 100px;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    outline: none;
}

.radiodiv{
    margin-bottom: 20px;
}

.hard{
    
    margin-right: 10px;
}


.btnpublish{
    cursor: pointer;
    width: 190px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid red;
}

.spinner{
    display: none;
    width: 20%;
    height: 20%;
}

.spinnerR{
    display: none;
    width: 45%;
    margin-left: 500px;
}

.spinnerRR{
    display: none;
    width: 45%;
    margin-left: 500px;
    background-color: rgb(241, 215, 215);
}

/* .books-table{
    
} */
.users-table{
    display: none;
    margin: 0 auto;
    margin-top: 50px;
    width: fit-content;
}

.books-tablee{
    display: none;
    margin: 0 auto;
    margin-top: 50px;
    width: 1201px;
    width: fit-content;
    
}

.authors-tablee{
    display: none;
    
    margin-top: 50px;
    margin-left: 16%;
    width: fit-content;
   
    
}

/* .authors-table-body{
    width: 20%;
} */


.authormodal{
    display: none;
    width: 500px;
    height: 300px;
    border: 1px solid red;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e0c8c8;
}

.authormodaldiv{
    position: relative;
}

.close-btn-author{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
}

.formauthorpublish{
    padding-top: 70px;
    padding-left: 35px;
}

.inputauthor{
    margin-bottom: 35px;
    margin-right: 30px;
    width: 180px;
    height: 50px;
    padding-left: 10px;
    text-decoration: none;
    outline: none;
}

.btnpublishauthor{
    border: 1px solid green;
    width: 180px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.btneditauthor{
    border: 1px solid green;
    width: 180px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

/* signup */
/* ------------------------------------ Click on login and Sign Up to  changue and view the effect
---------------------------------------
*/


  
  .cotn_principal {
    position: absolute;
    width: 100%;
    height: 85%;
    backdrop-filter: blur(5px);
    text-align: center;
    display: none;
 
  z-index: 1;
  
  }
  
  
  .cont_centrar {
    position: relative;
    float: left;
     width: 100%;
    
  }
  
  .cont_login {
    position: relative;
    width: 640px;
  left: 50%;
  margin-left: -320px;
    
  }
  
  .cont_back_info {  
  position: relative;
    float: left;
    width: 640px;
    height: 280px;
  overflow: hidden;
    background-color: #fff;
    margin-top: 100px;
  box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
  }
  
  .cont_forms {
    position: absolute;
    overflow: hidden;
    top:100px;
  left: 0px;
    width: 320px;
    height: 280px;
    background-color: #eee;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  }
  
  .cont_forms_active_login {
  box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
    height: 420px;  
  top:20px;
  left: 0px;
    -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  
  }
  
  .cont_forms_active_sign_up {
  box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
    height: 420px;  
  top:20px;
  left:320px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  }
  
  .cont_img_back_grey {
    position: absolute;
    width: 950px;
  top:-80px;
    left: -116px;
  }
  
  .cont_img_back_grey > img {
    width: 100%;
   -webkit-filter: grayscale(100%);     filter: grayscale(100%);
  opacity: 0.2;
  animation-name: animar_fondo;
    animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  }
  
  .cont_img_back_ {
    position: absolute;
    width: 950px;
  top:-80px;
    left: -116px;
  }
  
  .cont_img_back_ > img {
    width: 100%;
  opacity: 0.3;
  animation-name: animar_fondo;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  }
  
  .cont_forms_active_login > .cont_img_back_ {
  top:0px;  
    -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  }
  
  .cont_forms_active_sign_up > .cont_img_back_ {
  top:0px;  
  left: -435px;
    -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  }
   
  
  .cont_info_log_sign_up {
  position: absolute;
    width: 640px;
    height: 280px;
    top: 100px;
  z-index: 1;
  } 
  
  .col_md_login {
    position: relative;
    float: left;
    width: 50%;
  }
  
  .col_md_login > h2 {
    font-weight: 400;
  margin-top: 70px;
      color: #757575;
  }
  
  .col_md_login > p {
   font-weight: 400;
  margin-top: 15px;
  width: 80%;
      color: #37474F;
  }
  
  .btn_login { 
  background-color: #26C6DA;
    border: none;
    padding: 10px;
  width: 200px;
  border-radius:3px;
  box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    color: #fff;
  margin-top: 10px;
  cursor: pointer;
  }
  
  .col_md_sign_up {
    position: relative;
    float: left;
    width: 50%;  
  }
  
  .cont_ba_opcitiy > h2 {
    font-weight: 400;
    color: #fff;
  }
  
  .cont_ba_opcitiy > p {
   font-weight: 400;
  margin-top: 15px;
   color: #fff;
  }
  /* ----------------------------------
  background text    
  ------------------------------------
   */
  .cont_ba_opcitiy {
    text-align: center;
    margin: 0 auto;
    position: relative;
    background-color: rgba(120, 144, 156, 0.55);
    width: 80%;
    border-radius:3px ;
  margin-top: 60px;
  padding: 15px 0px;
  }
  
  .btn_sign_up { 
  background-color: #ef5350;
    border: none;
    padding: 10px;
  width: 200px;
  border-radius:3px;
  box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    color: #fff;
  margin-top: 10px;
  cursor: pointer;
  }
  .cont_forms_active_sign_up {
  z-index: 2;  
  }
  
  
  @-webkit-keyframes animar_fondo {
    from { -webkit-transform: scale(1) translate(0px);
  -moz-transform: scale(1) translate(0px);
  -ms-transform: scale(1) translate(0px);
  -o-transform: scale(1) translate(0px);
  transform: scale(1) translate(0px); }
    to { -webkit-transform: scale(1.5) translate(50px);
  -moz-transform: scale(1.5) translate(50px);
  -ms-transform: scale(1.5) translate(50px);
  -o-transform: scale(1.5) translate(50px);
  transform: scale(1.5) translate(50px); }
  }
  @-o-keyframes identifier {
    from { -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
    to { -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5); }
  
  }
  @-moz-keyframes identifier {
    from { -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
    to { -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5); }
  
  }
  @keyframes identifier {
    from { -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
    to { -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5); }
  }
  .cont_form_login {
    position: absolute;
    opacity: 0;
  display: none;
    width: 320px;
    -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  }
  
  .cont_forms_active_login {
  z-index: 2;  
  }
  .cont_forms_active_login  >.cont_form_login {
  }
  
  .cont_form_sign_up {
    position: absolute;
    width: 320px;
  float: left;
    opacity: 0;
  display: none;
    -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  }
  
    
  .cont_form_sign_up > input {
  text-align: left;
    padding: 15px 5px;
  margin-left: 10px;
  margin-top: 20px;
    width: 260px;
  border: none;
      color: #757575;
  }
  
  .cont_form_sign_up > h2 {
  margin-top: 50px; 
  font-weight: 400;
    color: #757575;
  }
  
  
  .cont_form_login > input {
    padding: 15px 5px;
  margin-left: 10px;
  margin-top: 20px;
    width: 260px;
  border: none;
  text-align: left;
    color: #757575;
  }
  
  .cont_form_login > h2 {
  margin-top: 110px; 
  font-weight: 400;
    color: #757575;
  }
  .cont_form_login > a,.cont_form_sign_up > a  {
    color: #757575;
      position: relative;
      float: left;
      margin: 10px;
  margin-left: 30px;
  }

  .closemodal{
    /* width: 50px;
    height: 50px; */
    font-size: 30px;
    margin-top: 5px;
    font-weight: 500;
    cursor: pointer;
  }

  .errorlogin{
    display: none;
    position: absolute;
    top: 80px;
    left: 50px;
    font-weight: 500;
    color: red;
  }
  .errorsingup{
    display: none;
    position: absolute;
    top: 30px;
    left: 50px;
    font-weight: 500;
    color: red;
  }


/* Top */
:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  

  

  
  .hero-section{
   
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

  .topsell{
    margin-top: 120px;
    position: absolute;
    font-size: 35px;
    left: 50px;
    font-weight: 700;
    color: wheat;
    border-bottom: 1px solid wheat;
  }
  
  
 /* AUTHORS */
 .containerr
 {
   
   margin: 100px auto;
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
 }
 .cardd
 {
   position: relative;
   margin: 20px 0;
   width: 300px;
   height: 400px;
   background: #fff;
   transform-style: preserve-3d;
   transform: perspective(2000px);
   box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 20px rgba(0,0,0,.5);
   transition: 1s;
 }
 .cardd:hover
 {
   z-index: 10000;
   transform: perspective(2000px) rotate(-10deg);
   box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
 }
 
 .cardd .Boxx
 {
   position: relative;
   width: 100%;
   height: 100%;
   border: 1px solid #000;
   box-sizing: border-box;
   position: relative;
   transform-origin: left;
   z-index: 1;
   transition: 1s cubic-bezier(.15,1.7,.84,.58);
   background: #111;
 }
 .cardd .Boxx .img
 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .cardd:hover .Boxx
 {
   transform: rotateY(-135deg);
 }
 .cardd .detailss
 {
   position: absolute;
   top: 0;
   left: 0;
   box-sizing: border-box;
   padding: 20px;
   z-index: -1;
 }


 

 